<%- include('includes/head') %>

<h1>Contact</h1>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
  <label>Message</label>
  <textarea class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<%- include('includes/footer') %>