<%- include('includes/head') %>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae pellentesque justo</p>
  </div>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae pellentesque justo. Sed eget faucibus sem, eget rutrum tortor. Pellentesque consectetur luctus maximus. Sed in facilisis sem, ac feugiat nisl. Praesent ut massa nec velit cursus sagittis et a urna. Duis euismod malesuada urna quis facilisis. Donec mattis in libero ut dictum. Aliquam sapien lacus, fringilla vitae viverra vitae, rhoncus malesuada ligula. Maecenas ac diam turpis. Vivamus et enim ante. Etiam vel tincidunt nibh, et consequat ante. Nullam congue odio erat, eu vestibulum ligula volutpat suscipit. Vivamus posuere diam tristique tincidunt eleifend.
</p>

<%- include('includes/footer') %>