body{
	background:#f4f4f4;
	font-family: arial;
	font-size:16px;
	color:#333;
	line-height:1.6em;
}

header{
	padding:10px;
}

.container{
	width:80%;
	margin:0 auto;
	overflow:hidden;
}